body {
    background:#000;
}
#canvas-container {
    width: 850px;
    margin: auto;
    display:inline-block;

}

canvas {
    display: inline;

}
div#score, div#lvl{
    display: inline-block;
    color:#0067FF;
    width:10%;
    vertical-align :top;
    text-align :center;
}
