body {
    background:#000;
}

#wrapper {
    width: 1000px;
    margin: auto;
}

#canvas-container {
    width: 850px;
    margin: auto;
    display: inline-block;
}

canvas {
    display: inline;
}

/*MENU*/
div#menu, div#end-game {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: auto;
    overflow: auto;
    width: 100%;
    background:#000;
    text-align :center ;
    color:#0067FF;
}

div#menu a {
    font-size: 2rem;
    text-decoration: none;
    color:green;
    border:1px solid green;
    padding:5px;

}

div#menu a:hover {
    color:red;
    border: 1px solid red;
}
/*MENU END*/
/*END Game*/
div#end-game {
    display: none;
}

div#end-game a {
    font-size: 2rem;
    text-decoration: none;
    color:green;
    border:1px solid green;
    padding:5px;
}

div#end-game a:hover {
    color:red;
    border: 1px solid red;
}
/*END Game*/

.info {
    width: 71px;
    display: inline-block;
    vertical-align :top;
    text-align :center;
    padding: 0;
}

.points, #lvl, .lives, .bullets{
    display: inline-block;
    color: #fffe04;
    vertical-align :top;
    text-align :center;
}

.info:last-of-type .points, .info:last-of-type .lives, .info:last-of-type .bullets {
    color: red;
}

.result {
    display: inline-block;
}

.result:first-of-type {
    color: #fffe04;
}

.result:last-of-type {
    color: red;
}