body {
    background:#000;
}

#canvas-container {
    width: 850px;
    margin: auto;
}

canvas {
    display: inline;
}

/*MENU*/
div#menu {
    display:block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: auto;
    overflow: auto;
    width: 100%;
    background:#000;
    text-align :center ;
    color:#0067FF;
}

div#menu a {
    font-size: 2rem;
    text-decoration: none;
    color:green;
    border:1px solid green;
    padding:5px;

}

div#menu a:hover {
    color:red;
    border: 1px solid red;
}
<<<<<<< HEAD
/*MENU END*/
div#score, div#lvl{
=======

#score, #lvl, #lives{
>>>>>>> f3448220f81a9bbba792e7e9de694bcd834be678
    display: inline-block;
    color:#0067FF;
    width:10%;
    vertical-align :top;
    text-align :center;
}
